<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- jQuery core, needed! -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- AJAX-ZOOM core, needed! -->
<link href="../axZm/axZm.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../axZm/jquery.axZm.js"></script>

<!-- jcarousel js for thumbnails, optional -->
<link href="../axZm/plugins/demo/jcarousel/skins/custom/skin.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../axZm/plugins/demo/jcarousel/lib/jquery.jcarousel.min.js"></script>

<!-- preloading spinner, optional -->
<script type="text/javascript" src="../axZm/plugins/spin/spin.min.js"></script>

<!-- AJAX-ZOOM extensions, needed -->
<link href="../axZm/extensions/jquery.axZm.mouseOverZoom.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../axZm/extensions/jquery.axZm.mouseOverZoom.min.js"></script>
<script type="text/javascript" src="../axZm/extensions/jquery.axZm.mouseOverZoomInit.js"></script>
</head>
<body>

<!-- Wrapper for media data-->
<DIV style="float: left; width: 252px; position: relative; height: 460px; margin: 0px 20px 20px 0px">

	<!-- Container for mouse over image -->
	<DIV id="mouseOverZoomContainer" style="position: absolute; width: 250px; height: 375px; background-color: #CCCCCC; border: #888 1px solid"></DIV>

	<!-- jcarousel with thumbs (will be filled with thumbs by javascript) -->
	<DIV style="clear: both; width: 100%; position: absolute; bottom: 0px; display: none;">
		<ul id="jcarouselGallery" class="jcarousel-skin-custom"></ul>
	</DIV>
	
</DIV>

<script type="text/javascript">
jQuery.fn.mouseOverZoomInit({
	axZmPath: "auto", // Path to AJAX-ZOOM, e.g. /zoomTest/axZm/
	divID: "mouseOverZoomContainer", // DIV for mouseover zoom
	galleryDivID: "jcarouselGallery", // DIV id of the gallery
	
	// Objecct containing absolte paths to the master images, optional with titles. Start with 1, not 0
	// Your master image can be as big as you want, it never loads into cache
	// You can also protect the directory with .htaccess or other http access restrictions.
	// Alternatively you can link to your static images with these keys: 
	// "zoom" - big mouseover image, "preview" - preview image and "thumb" - image for the gallery. 
	// "img" - your master image is needed anyway to open AJAX-ZOOM on click
	images: {
		1: {img: "/pic/zoom/fashion/sweater.jpg", title: "Test Title sweater.jpg"},
		2: {img: "/pic/zoom/fashion/fashion_2.jpg", title: "Test Title fashion_2.jpg"},
		3: {img: "/pic/zoom/fashion/bride_1.jpg", title: "Test Title bride_1.jpg"}
	}
</script>
</body>
</html>